<p class="pt-5" id="notice"><%= notice %></p>

<p>
  <strong class=="pt-2">Usuario:</strong>
  <%= @user.name %> cadastrado com sucesso
</p>
  <%= link_to 'Voltar', login_path, :class => "btn border-1 waves-effect waves-light border-primary mb-1" %>


